* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-code {
    background-color: rgb(231, 226, 215);

}

.logo img {
    width: 130px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px 30px;
}

.logo p {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 40px;
}

.logo i {
    gap: 15px;
    display: flex;
    justify-content: flex-end;
}

.sekil {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.all-card {
    display: flex;
    gap: 20px;
}

.all-card img {
    border-radius: 8px 30px;
}

.all-card .card-1 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;
}

.all-card .card-2 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;
}

.all-card .card-3 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;

}

.all-card .card-4 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;
}

.all-card .card-5 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;
}

.all-card .card-6 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;
}

.all-card .card-7 :hover {
    transform: scale(1.1, 1.1);
    transition: 0.08s;
}

.fa-heart{
    color: black;
}

.fa-heart:hover {
    color: rgb(199, 26, 26);
}

.icon {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    gap: 5px;
    height: 30%;
 
}
.all-card1{
    display: flex;
    width: 100%;
   
}